<h1> <%= @recipe.name %>のレシピ </h1>

<table>
	<tr>
		<th>レシピ名</th>
		<th>レシピID</th>
		<th>サムネイル画像</th>
	</tr>
	<tr>
		<td><%= @recipe.name %></td>
		<td><%= @recipe.id %></td>
		<td><img src="<%= @recipe.pic_file_name %>"></td>
	</tr>
</table>

<h2> 手順 </h2>

<table>
	<% @procedures.each do |procedure| %>
		<tr>
			<td><%= procedure.number %></td>
			<td><%= procedure.detail %></td>
		</tr>
	<% end %>
</table>

<%= link_to "スタート", recipe_procedure_path(@recipe.id, @recipe.procedures.first.id) %>
