<div class="title">
  <h1><strong><%= @recipe.name %></strong><small>のレシピ</small>
    <div class="next-btn">
      <%= link_to recipe_path(@recipe), method: 'DELETE' do %>
        <p><button type="button" class="btn btn-danger">削除</button></p>
      <% end %>
    </div>
  </h1>
</div>


<%= render 'show' %>

<div class="coock-start">
  <%= form_tag recipe_procedure_path(@recipe.id, @recipe.procedures.first.id),:method=>:get do %>
    動画のキーワード：<%= text_field_tag :key, "", :size=>50 %>
    <button type="submit" class="btn btn-primary">スタート</button>
  <% end %>
</div>

