<div class="title">
  <h1><strong><%= @recipe.name %></strong><small>のレシピ</small></h1>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-4">
      <%= image_tag 'test/test.jpg', :width=>350 %>
    </div>
    <div class="col-md-4">
      <h2 style="margin-top:0px"><strong>作り方</strong></h2>
      <div class="procedure-list">
        <dl>
          <% @procedures.each do |procedure| %>
            <div class="procedure-entry">
              <dt>手順<%= procedure.number %></dt>
              <dd><%= procedure.detail %></dd>
            </div>
          <% end %>
        </dl>
      </div>
    </div>
  </div><!-- .row -->
</div><!-- .container --> 

<div class="next-btn">
  <%= link_to recipe_procedure_path(@recipe.id, @recipe.procedures.first.id) do %>
    <p><button type="button" class="btn btn-primary">スタート</button></p>
  <% end %>
</div>
