<h1>登録（食材）</h1>

<ul>

<%= form_for(@value) do |f| %>

  <% @foods.each do |food| %>
  	<%= check_box_tag "select[]", food[:id] %>
  	<%= food[:name] %>
  	(<%= food[:category]%>) <br>
  <% end %>
  <br>

 <% end %>
<br>


</ul>

<%= link_to "next", new_procedure_path %>
