<h1>values/new</h1>

<%#
"select"=>["1", "2"], 
"commit"=>"submit", 
"controller"=>"values", "action"=>"new"}
%>

<%= form_tag ('/procedures/new') do %>

  <% @foods.each do |food| %>
  	<%= food[:name] %>
  	(<%= food[:category]%>):

  	<%# 以下送信データ %>
  	<%= text_field_tag "value[][val]" %><br>

  	<%= hidden_field_tag "food_id[]", food[:id] %>
  	<%= hidden_field_tag "value[][food_id]", food[:id] %>
  	<%= hidden_field_tag "value[][name]", food[:name] %>
  	<%= hidden_field_tag "value[][category]", food[:category] %>
    <%= hidden_field_tag "from_value", true %>
  <% end %>
  <br>

  <%= submit_tag("次へ") %>

 <% end %>
<br>