<head>
  <!-- <LINK rel="stylesheet" type="text/css" href="new.css"> -->
</head>
<script language="JavaScript">
<!--
    function checkForm(){
    if(document.f1.tel.value == ""){
        alert('入力してください');
    document.f1.tel.focus();
        return false;
    }
        return true;
    }
//-->
</script>

<h1>食材量の入力</h1>

<%#
"select"=>["1", "2"], 
"commit"=>"submit", 
"controller"=>"values", "action"=>"new"}
%>
<%= params %><br>

<%= form_tag ('/procedures/new') do %>

  <% @foods.each do |food| %>

  	<%= food[:name] %>:
  	<%# 以下送信データ %>
  	<%= text_field_tag "value[][val]" %><br>


  	<%= hidden_field_tag "food_id[]", food[:id] %>
  	<%= hidden_field_tag "value[][food_id]", food[:id] %>
  	<%= hidden_field_tag "value[][name]", food[:name] %>
  	<%= hidden_field_tag "value[][category]", food[:category] %>
    <%= hidden_field_tag "from_value", true %>
  <% end %>
  <br>
  
  <%= button_tag :type => "submit", :class =>"btn btn-primary" do %>
    次へ
  <% end %>

 <% end %>
<br>