<div class="title">
  <h1><strong>食材量の登録</strong><small>＜使う食材の量を入力＞</small></h1>
</div>

<%= form_tag ('/procedures/new') do %>

  <% @foods.each do |food| %>

    <%= food[:name] %>:
    <%# 以下送信データ %>
    <%= text_field_tag "value[][val]" %>


    <%= hidden_field_tag "food_id[]", food[:id] %>
    <%= hidden_field_tag "value[][food_id]", food[:id] %>
    <%= hidden_field_tag "value[][name]", food[:name] %>
    <%= hidden_field_tag "value[][category]", food[:category] %>
    <%= hidden_field_tag "from_value", true %>
  <% end %>

  <div class="next-btn">
    <p class="text-right"><button type="submit" class="btn btn-primary">次へ</button></p>
  </div>

<% end %>
