<html>
<head>
	<title><%= @ingredient.name %></title>
</head>
<body>
	<p>
		<b>食材ID：</b><%= @ingredient.id %>
	</p>
	<p>
		<b>名前：</b><%= @ingredient.name %>
	</p>
	<p>
		<b>ジャンル：</b><%= @ingredient.genre %>
	</p>
	<p>
		<b>量：</b><%= @ingredient.amount %>
	</p>
</body>
</html>