<html>
<head>
	<!-- <LINK rel="stylesheet" type="text/css" href="new.css"> -->
    <style type="text/css">
    #checkbox {
      display: inline-block;
      width: 30%;
    }
    </style>
</head>
<body>
   
<h1>使用食材の選択</h1>
<!-- <%= params %><br> -->

<%= form_tag('/values/new') do %>

    <ul class="nav nav-tabs">
        <% @categorys.each do |category| %>
                <% if category == FD_CATEGORY_MEAT %>
                    <li class="active">
                <% else %>
                    <li>
                <% end %>

                <% str = "#tab"+category.to_s %>
                <a href=<%= str %> data-toggle="tab"><%= @cat_name[category - 1] %></a>
            </li>
        <% end %>
    </ul>

    <div id="myTabContent" class="tab-content">
        <% @categorys.each do |category| %>
            <% str = "tab" + category.to_s %>
            <% if category == FD_CATEGORY_MEAT %>
                <div class="tab-pane fade in active" id=<%= str %> >
            <% else %>
                <div class="tab-pane fade" id=<%= str %> >
            <% end %>

                <p>
                    <% @foods.each do |food| %>

                        <% if food[:category] == category %>
                            <div id="checkbox">
                                <%= check_box_tag "select[]", food[:id] %>
                                <%= food[:name] %>&#009;
                            </div>
                            
                        <% end %>
                    <% end %>
                </p>
            </div>
        <% end %>
    </div>


    <footer>
        <%= button_tag :type => "submit", :class =>"btn btn-primary" do %>
            次へ
        <% end %>
    </footer>

<% end %>
</body>
</html>