<div class="title">
  <h1><strong>食材の登録</strong><small>＜使う食材の選択＞</small></h1>
</div>

<%= form_tag('/values/new') do %>

  <ul class="nav nav-tabs">
    <% @categories.each do |category| %>
      <% if category == FD_CATEGORY_MEAT %>
        <li class="active">
      <% else %>
        <li>
      <% end %>

      <% str = "#tab"+category.to_s %>
      <a href=<%= str %> data-toggle="tab"><%= @cat_name[category - 1] %></a>
      </li>
    <% end %>
  </ul>

  <div id="myTabContent" class="tab-content">
    <% @categories.each do |category| %>
      <% str = "tab" + category.to_s %>
      <% if category == FD_CATEGORY_MEAT %>
        <div class="tab-pane fade in active" id=<%= str %> >
      <% else %>
        <div class="tab-pane fade" id=<%= str %> >
      <% end %>
          <% @foods.each do |food| %>
            <% if food[:category] == category %>
              <div class="checklist">
                <%= check_box_tag "select[]", food[:id] %>
                <%= food[:name] %>
              </div>
            <% end %>
          <% end %>
        </div>
    <% end %>
  </div><!-- .tab-content -->

  <div class="next-btn">
    <p><button type="submit" class="btn btn-primary">次へ</button></p>
  </div>
<% end %>
