<div class="title">
  <h1><strong>食材の登録</strong><small>＜使う食材の選択＞</small></h1>
</div>

<%= form_tag('/values/new') do %>

  <ul class="nav nav-tabs">
    <% @categories.each do |category| %>
      <% if category == FD_CATEGORY_MEAT %>
        <li class="active">
      <% else %>
        <li>
      <% end %>

      <% str = "#tab"+category.to_s %>
      <a href=<%= str %> data-toggle="tab"><%= @cat_name[category - 1] %></a>
      </li>
    <% end %>
  </ul>

  <div id="myTabContent" class="tab-content">
    <% count = 0 %>
    <% @categories.each do |category| %>
      <% str = "tab" + category.to_s %>
      <% if category == FD_CATEGORY_MEAT %>
        <div class="tab-pane fade in active" id=<%= str %> >
      <% else %>
        <div class="tab-pane fade" id=<%= str %> >
      <% end %>
        <% @foods.each do |food| %>
          <% if food[:category] == category %>
            <% if food[:id] == @sub_categories[count] %>
              <% str = "▼"+@sub_name[count].to_s %>
              <div class="sub-category"><%= str %></div>
              <% count += 1 %>
            <% end %>
            <div class="checklist">
              <%= check_box_tag "select[]", food[:id], checked=false, :id=>"food_#{food[:id]}" %>
              <label for="food_<%= food[:id] %>"><%= food[:name] %></label>
            </div>
          <% end %>
        <% end %>
      </div>
    <% end %>
  </div><!-- .tab-content -->

  <div class="next-btn">
    <p><button type="submit" class="btn btn-primary">次へ</button></p>
  </div>
<% end %>
