<html>
<head>
	<!-- <LINK rel="stylesheet" type="text/css" href="new.css"> -->
    <link href="bootstrap.css" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<script type="text/javascript" src="bootstrap.js"></script>
</head>
<body>
<h1>foods/new</h1>

<%= form_tag('/values/new') do %>

    <ul class="nav nav-tabs">
        <% @categorys.each do |category| %>
            <li>
                <% str = "#tab"+category.to_s %>
                <a href=<%= str %> data-toggle="tab"><%= @cat_name[category - 1] %></a>
            </li>
        <% end %>
    </ul>

    <div id="myTabContent" class="tab-content">
        <% @categorys.each do |category| %>
            <% str = "tab" + category.to_s %>
            <div class="tab-pane fade" id=<%= str %> >
                <p>
                    <% @foods.each do |food| %>
                        <% if food[:category] == category %>
                            <%= check_box_tag "select[]", food[:id] %>
                            <%= food[:name] %><br>
                        <% end %>
                    <% end %>
                </p>
            </div>
        <% end %>
    </div>


    <footer>
        <%= button_tag :type => "submit", :class =>"btn btn-primary" do %>
            次へ
        <% end %>
    </footer>

<% end %>
</body>
</html>
