<div class="title">
  <h1><strong>料理手順の登録</strong><small>＜料理の手順を入力＞</small></h1>
</div>

<div class="backbrown">
<%# valueの書き出し %>
<strong>使用食材:<br></strong>
<table class="table">
  <% @values.each do |value| %>
    <tr class="column">
      <td><%= @foods.find(value[:food_id]).name %> </td>
      <td>: <%= value[:value] %></td>
    </tr>
  <% end %>
</table>
<br>
<br>
<br>

<%# procedureの書き出し %>
<strong>手順:<br></strong>

<table class="table">

  <% if !params[:from_value] %>
    <% @procedures.each do |procedure| %>
      <tr class="column">
      <% if procedure[:min].to_i + procedure[:sec].to_i ==0 %>
        <td width="5%"><%= procedure[:number] %>:</td>
        <td><%= procedure[:detail] %></td>
        <td width="25%"></td>
        <td width="25%"></td>
      <% else %>
        <td width="5%"><%= procedure[:number] %>:</td>
        <td><%= procedure[:detail] %></td>
        <td width="25%">: <%= procedure[:min] %>分<%= procedure[:sec] %>秒 &nbsp;</td>
        <td width="25%"></td>
      <% end %>
      </tr>
    <% end %>
  <% end %>

  <%= form_tag ('/procedures/new') do %>
    <%# paramsで受け取ったprocedure,valueを遷移先でも保持 %>
    <% if !params[:from_value] %>
      <% @procedures.each do |procedure| %>
        <%= hidden_field_tag "procedure[][number]", procedure[:number] %>
        <%= hidden_field_tag "procedure[][detail]", procedure[:detail] %>
        <%= hidden_field_tag "procedure[][min]", procedure[:min] %>
        <%= hidden_field_tag "procedure[][sec]", procedure[:sec] %>
      <% end %>
    <% end %>

    <% @values.each do |value| %>
      <%= hidden_field_tag "value[][value]", value[:value] %>
      <%= hidden_field_tag "value[][food_id]", value[:food_id] %>
      <%= hidden_field_tag "food_id", value[:food_id] %>
    <% end %>

      <tr class="column-noborder">
        <% if !params[:from_value] %>
          <td width="5%", ROWSPAN="2"><%= @procedures[-1]['number'].to_i + 1 %>:</td>
          <%= hidden_field_tag "procedure[][number]", @procedures[-1]['number'].to_i + 1 %>
        <% else %>
          <td width="5%", ROWSPAN="2">1:</td>
          <%= hidden_field_tag "procedure[][number]", 1 %>
        <% end %>
        <td width="35%", ROWSPAN="2"><%= text_area_tag "procedure[][detail]", "", :cols=>"40", :rows=>"5" %></td>
        <td width="20%"><%= number_field_tag "procedure[][min]", 0, :min=>0 %>分</td>
        <td width="20%"><%= number_field_tag "procedure[][sec]", 0, :min=>0, :max=>59 %>秒</td>
      </tr>
      <tr class="column-noborder">
        <td></td>
        <td><p><button type="submit" class="btn btn-primary add-btn">追加</button></p></td>
      </tr>
  <% end %>
</table>
</div><!-- backbrown -->

<%= form_tag ('/recipes/new') do %>
  <% if !params[:from_value] %>
    <% @procedures.each do |procedure| %>
      <% if procedure[:min].to_i + procedure[:sec].to_i != 0 %>
        <%= hidden_field_tag "procedure[][play]", true %>
      <% else %>
        <%= hidden_field_tag "procedure[][play]", false %>
      <% end %>
      <%= hidden_field_tag "procedure[][number]", procedure[:number] %>
      <%= hidden_field_tag "procedure[][detail]", procedure[:detail] %>
      <%= hidden_field_tag "procedure[][sec]", procedure[:min].to_i * 60 + procedure[:sec].to_i %>
    <% end %>
  <% end %>

  <% @values.each do |value| %>
    <%= hidden_field_tag "value[][value]", value[:value] %>
    <%= hidden_field_tag "value[][food_id]", value[:food_id] %>
  <% end %>
  <div class="next-btn">
    <p><button type="submit" class="btn btn-primary">次へ</button></p>
  </div>
<% end %>
