<div class="title">
  <h1><strong>料理手順の登録</strong><small>＜料理の手順を入力＞</small></h1>
</div>

<%# valueの書き出し %>
使用食材:<br>
<% @values.each do |value| %>
  <%= value[:name] %> :
  <%= value[:val] %> <br>
<% end %>

<br>
<br>
<br>

<%# procedureの書き出し %>
手順:<br>
<% if !params[:from_value] %>
  <% @procedures.each do |procedure| %>
    <% if procedure[:sec] != "0" %>	
      <%= procedure[:text] %>:
      <%= procedure[:sec] %>sec <br>
    <% else %>
      <%= procedure[:text] %><br>
    <% end %>
  <% end %>
<% end %>


<%= form_tag ('/procedures/new') do %>
  <%# paramsで受け取ったprocedure,valueを遷移先でも保持 %>
  <% if !params[:from_value] %>
    <% @procedures.each do |procedure| %>
      <%= hidden_field_tag "procedure[][text]", procedure[:text] %>
      <%= hidden_field_tag "procedure[][sec]", procedure[:sec] %>
    <% end %>
  <% end %>

  <% @values.each do |value| %>
    <%= hidden_field_tag "value[][val]", value[:val] %>
    <%= hidden_field_tag "value[][food_id]", value[:food_id] %>
    <%= hidden_field_tag "value[][name]", value[:name] %>
    <%= hidden_field_tag "value[][category]", value[:category] %>
    <%= hidden_field_tag "food_id", value[:food_id] %>
  <% end %>


  <%= text_field_tag "procedure[][text]"  %>:
  <%= number_field_tag "procedure[][sec]", 0 %>秒
  <br>

  <div class="add-btn">
    <p><button type="submit" class="btn btn-primary">追加</button></p>
  </div>
<% end %>

<%= form_tag ('/recipes/new') do %>
  <% if !params[:from_value] %>
    <% @procedures.each do |procedure| %>
      <%= hidden_field_tag "procedure[][text]", procedure[:text] %>
      <%= hidden_field_tag "procedure[][sec]", procedure[:sec] %>
    <% end %>
  <% end %>

  <% @values.each do |value| %>
    <%= hidden_field_tag "value[][val]", value[:val] %>
    <%= hidden_field_tag "value[][food_id]", value[:food_id] %>
    <%= hidden_field_tag "value[][name]", value[:name] %>
    <%= hidden_field_tag "value[][category]", value[:category] %>
  <% end %>
  <div class="next-btn">
    <p><button type="submit" class="btn btn-primary">次へ</button></p>
  </div>
<% end %>
