<h1> <%= @recipe.name %>の作り方 </h1>

<ul>
  <li>手順<%= @procedure.number %></li>
  <li><%= @procedure.detail %></li>
  <li>動画時間<%= @procedure.sec %>秒</li>
</ul>

<p>
<% if @procedure.play %>
  <iframe type="text/html" width="640" height="360" src=<%= @youtube[:url] %> frameborder="0" allowfullscreen></iframe>
  <br>
  動画時間:<%= @youtube[:duration] %>秒
<% end %>
</p>

<% if @procedures.last.id == @procedure.id %>
  <%= link_to recipe_path(@recipe.id) do %>
    <button type="button" class="btn btn-primary">レシピの詳細へ戻る</button>
  <% end %>
<% else %>
  <%= link_to recipe_procedure_path(@recipe.id, @procedure.id+1) do %>
    <button type="button" class="btn btn-primary">次の手順へ</button>
  <% end %>
<% end %>

