<div class="title">
  <h1><strong><%= @recipe.name %></strong><small>の作り方</small></h1>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-4">
      <dl>
        <div class="procedure-entry">
          <h4><dt>手順<%= @procedure.number %></dt></h4>
          <dd><%= @procedure.detail %></dd>
          <br />
          <% if @procedure.play %>
          <dd class="text-right">時間: <%= @procedure.min_text %>分<%= @procedure.sec_text %>秒（<%= @procedure.sec %>秒）</dd>
          <% end %>
        </div>
      </dl>
    </div>
  </div><!-- .row -->
</div><!-- .container --> 

<div class="movie-container">
  <% if @procedure.play %>
    <center>
      <iframe class="movie text-center" type="text/html" width="640" height="360" src=<%= @youtube[:url] %> frameborder="0" allowfullscreen></iframe>
      <br>
      <strong>動画時間:<%= @youtube[:duration] %>秒</strong>
    </center>
  <% end %>
</div>


<div class="next-btn">
  <% if @procedures.last.id == @procedure.id %>
    <%= link_to recipe_path(@recipe.id) do %>
      <button type="button" class="btn btn-primary">レシピの詳細へ戻る</button>
    <% end %>
  <% else %>
    <%= form_tag recipe_procedure_path(@recipe.id, @procedure.id+1),:method=>:get do %>
      <%= hidden_field_tag :key, params[:key] %>
      <button type="submit" class="btn btn-primary">次の手順へ</button>
    <% end %>
  <% end %>
</div>

