<h1> <%= @recipe.name %>の作り方 </h1>

<ul>
  <li>手順<%= @procedure.number %></li>
  <li><%= @procedure.detail %></li>
  <li>動画時間<%= @procedure.sec %>秒</li>
</ul>

<% if @procedures.last.id == @procedure.id %>
  <%= link_to "レシピの詳細へ戻る", recipe_path(@recipe.id) %>
<% else %>
  <%= link_to "次の手順へ", recipe_procedure_path(@recipe.id, @procedure.id+1) %>
<% end %>

