<h1><%= @recipe.name %></h1>

<ul>
  <li>手順<%= @procedure.number %></li>
  <li><%= @procedure.detail %></li>
  <li>所要時間<%= @procedure.sec %>秒</li>
</ul>

<%= link_to "次へ", recipe_procedure_path(@recipe.id, @procedure.id+1) %>
