<!DOCTYPE html>
<html>
<head>
  <title>タイタニック角煮（仮）</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

<p> <%= link_to "ホーム", root_path %> </p>


</body>
</html>
